@page "/contact"

<PageTitle>Contact | MyBlog</PageTitle>

<HeadContent>
    <meta name="description" content="Contact page for MyBlog." />
</HeadContent>

<ContentCard Title="Contact" Class="my-4">
    <MudText Typo="Typo.body1" Class="mb-4">Feel free to reach out for collaboration or feedback.</MudText>

    <MudText Typo="Typo.body2" Class="mb-1"><strong>Email:</strong> foyezahmedfj20@gmail.com</MudText>
    <MudText Typo="Typo.body2"><strong>GitHub:</strong> <a href="https://github.com/faizahmed1314" target="_blank">https://github.com/faizahmed1314</a></MudText>
    <MudText Typo="Typo.body2"><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/faiz-ahmed-rasel/" target="_blank">https://www.linkedin.com/in/faiz-ahmed-rasel/</a></MudText>
    <MudText Typo="Typo.body2"><strong>Contact:</strong> 01677180033</MudText>
</ContentCard>